In [11]:
SELECT FirstName, LastName, SUM(DATEDIFF(year, HireDate, GETDATE())) AS WorkedYears 
FROM Employees GROUP BY FirstName, LastName

FirstName,LastName,WorkedTime
Steven,Buchanan,28
Laura,Callahan,27
Nancy,Davolio,29
Anne,Dodsworth,27
Andrew,Fuller,29
Robert,King,27
Janet,Leverling,29
Margaret,Peacock,28
Michael,Suyama,28

\[19:05\] Robert Marcjan

<span style="font-size: 28pt;">1.</span><span style="font-size: 28pt; color: black;">Ile lat przepracował w firmie </span> <span style="font-size: 28pt; color: black;">każdy</span> <span style="font-size: 28pt; color: black;"> z </span> <span style="font-size: 28pt; color: black;">pracowników</span><span style="font-size: 28pt; color: black;">?</span>

<span style="font-size: 28pt;">2.</span><span style="font-size: 28pt; color: black;">Policz </span> <span style="font-size: 28pt; color: black;">sume</span><span style="font-size: 28pt; color: black;">̨ lat przepracowanych przez wszystkich </span> <span style="font-size: 28pt; color: black;">pracowników</span> <span style="font-size: 28pt; color: black;"> i </span> <span style="font-size: 28pt; color: black;">średni</span> <span style="font-size: 28pt; color: black;"> czas pracy w </span> <span style="font-size: 28pt; color: black;">firmie</span>

<span style="font-size: 28pt;">3.</span><span style="font-size: 28pt; color: black;">Dla </span> <span style="font-size: 28pt; color: black;">każdego</span> <span style="font-size: 28pt; color: black;"> pracownika </span> <span style="font-size: 28pt; color: black;">wyświetl</span> <span style="font-size: 28pt; color: black;">imie</span><span style="font-size: 28pt; color: black;">̨, nazwisko oraz wiek</span>

<span style="font-size: 28pt;">4.</span><span style="font-size: 28pt; color: black;">Policz </span> <span style="font-size: 28pt; color: black;">średni</span> <span style="font-size: 28pt; color: black;"> wiek wszystkich </span> <span style="font-size: 28pt; color: black;">pracowników</span>

<span style="font-size: 28pt;">5.</span><span style="font-size: 28pt; color: black;">Wyświetl</span> <span style="font-size: 28pt; color: black;"> wszystkich </span> <span style="font-size: 28pt; color: black;">pracowników</span><span style="font-size: 28pt; color: black;">, </span> <span style="font-size: 28pt; color: black;">którzy</span> <span style="font-size: 28pt; color: black;"> mają teraz </span> <span style="font-size: 28pt; color: black;">więcej</span> <span style="font-size: 28pt; color: black;">niz</span><span style="font-size: 28pt; color: black;">̇ 25 lat.</span>

<span style="font-size: 28pt;">6.</span><span style="font-size: 28pt; color: black;">Policz </span> <span style="font-size: 28pt; color: black;">średnia</span><span style="font-size: 28pt; color: black;">̨ </span> <span style="font-size: 28pt; color: black;">liczbe</span><span style="font-size: 28pt; color: black;">̨ </span> <span style="font-size: 28pt; color: black;">miesięcy</span> <span style="font-size: 28pt; color: black;"> przepracowanych przez </span> <span style="font-size: 28pt; color: black;">każdego</span> <span style="font-size: 28pt; color: black;"> pracownika</span>

<span style="font-size: 28pt;">7.</span><span style="font-size: 28pt; color: black;">Wyświetl</span> <span style="font-size: 28pt; color: black;"> dane wszystkich </span> <span style="font-size: 28pt; color: black;">pracowników</span><span style="font-size: 28pt; color: black;">, </span> <span style="font-size: 28pt; color: black;">którzy</span> <span style="font-size: 28pt; color: black;"> przepracowali w firmie co najmniej </span> <span style="font-size: 28pt; color: black;">320 </span> <span style="font-size: 28pt; color: black;">miesięcy</span><span style="font-size: 28pt; color: black;">, ale nie </span> <span style="font-size: 28pt; color: black;">więcej</span> <span style="font-size: 28pt; color: black;">niz</span><span style="font-size: 28pt; color: black;">̇ 333&nbsp;</span>